<%- include("templates/cabecera",{tituloWeb:"Pagina de Contactos"}) %>

<body>
    <h1 class="text-warning"><%= tituloContactos %></h1>
    <%- include('templates/content'); %>
</body>
<%- include('templates/footer'); %>
</html>