<%- include("templates/cabecera",{tituloWeb:"Pagina de Inicio"}) %>
<body>
    <h1 class="text-primary">Practicando EJS </h1>
    <h2><%= titulo %></h2>
    <%- include('templates/content'); %>
</body>
<%- include('templates/footer'); %>
</html>