<%- include("templates/cabecera",{tituloWeb:"Pagina de Servicios"}) %>

<body>
    <h1 class="text-secondary"><%= tituloServicios %></h1>
    <%- include('templates/content'); %>
</body>
<%- include('templates/footer'); %>
</html>